.git
.gitignore
.dockerignore
Dockerfile
.firebase
.firebaserc
node_modules
logs
*.log
.gem
.genkit
newUIelements
archive.zip
README.md
replit.md
server.py
verification
Screenshots
.replit
GEMINI.md
firebase.json
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.well-known
PWABuilderAndroid.pdf
myNotes.json
